</main>
<footer role="main">
  <section class="wrapper wrapper--short">
    <small class="type__align--center color__type--base-25">© Airsurety {{ site.time | date: '%Y' }}</small>
    <nav role="secondary" class="type__align--center">
      <a href="{{ site.baseurl }}/about">About Us</a>
      <a href="{{ site.baseurl }}/corporate">Corporate & Broker Sign-Up</a>
      <a href="{{ site.baseurl }}/policies">Master Policies</a>
      <a href="{{ site.baseurl }}/claims">Claims</a>
      <a href="{{ site.baseurl }}/faqs">FAQs</a>
      <a href="{{ site.baseurl }}/contact">Contact</a>
    </nav>
  </section>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ "/assets/js/site.js" | prepend: site.baseurl }}"></script>
</html>