</main>
<footer role="main">
  <section class="wrapper wrapper--short">
    <small class="type__align--center color__type--base-25">© Airsurety {{ site.time | date: '%Y' }}</small>
    <nav role="secondary" class="type__align--center">
      <a href="{{ site.baseurl }}/about">About Us</a>
      <a href="{{ site.baseurl }}/signup">Corporate & Broker Sign-Up</a>
      <a>Master Policies</a>
      <a>Claim</a>
      <a href="{{ site.baseurl}}/faqs">FAQs</a>
      <a>Contact</a>
    </nav>
  </section>
</footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ "/assets/js/site.js" | prepend: site.baseurl }}"></script>
</html>