---
---

$type-sans: 'Proxima Nova', sans-serif;
$color-highlight: #007CE3;

@import "start";

// Type

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proxima-nova-regular.woff');
  src: url('../fonts/proxima-nova/proxima-nova-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proxima-nova-italic.woff');
  src: url('../fonts/proxima-nova/proxima-nova-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proxima-nova-semibold.woff');
  src: url('../fonts/proxima-nova/proxima-nova-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proxima-nova-semibold-italic.woff');
  src: url('../fonts/proxima-nova/proxima-nova-semibold-italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proxima-nova-bold.woff');
  src: url('../fonts/proxima-nova/proxima-nova-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/proxima-nova-bold-italic.woff');
  src: url('../fonts/proxima-nova/proxima-nova-bold-italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

// Vertical rythmn 

* + {
  p, h2, ul, h3 { @include margin(m); }
  hr { @include margin(s); }
}

header[role="main"] > .wrapper:first-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  > * { @include bp(xs) { flex-grow: 1; } }
  .logo {
    &:focus {
      outline: none;
      transform: scale(1.0625);
    }
    svg {
      @include bp(xs) {
        height: rem(36);
        width: auto;
      }
    }
  }
  nav[role="main"] { @include bp(xs) { @include margin(s); } }
}

header[role="main"].home {
  background-size: cover;
  background-position: center center;
  .home__callout {
    @include bp(s) {
      min-height: 37.5%;
      display: flex;
      align-items: center;
    }
    h1 { text-shadow: 0 rem(2) rem(4) rgba($color-shade,0.25); }
    .btn { @include margin(m); }
  }
}

nav[role="main"] a {
  @include inline;
  @include type-s;
  border-bottom: $border-s transparent;
  color: $color-base-50;
  @include bp(xs) { @include type-caps; }
  &.is__active {
    border-color: $color-base-25;
    color: $color-base;
  }
  &:hover, &:focus {
    color: $color-highlight;
    border-color: $color-highlight;
    outline: none;
  }
  + a { @include margin(s,l); }
}

header[role="main"].home nav[role="main"] a {
  color: rgba($color-tint,0.75);
  &:hover, &.is__active {
    color: $color-tint;
    border-color: $color-tint;
  }
}

footer[role="main"] {
  border-top: $border-s $color-base-12;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  small {
    @include bp(xs) {
      @include margin(s);
      order: 2;
      flex-grow: 1;
    }
  }
}

nav[role="secondary"] a {
  @include inline;
  @include type-xs;
  @include type-caps;
  border-bottom: $border-s transparent;
  color: $color-base-38;
  &:hover, &:focus {
    color: $color-base-50;
    border-color: $color-base-25;
    outline: none;
  }
  + a { @include margin(xs,l); }
}

.is__hidden { display: none; }

.page {
  &__header {
    text-shadow: 0 rem(2) rem(4) rgba($color-shade,0.25);
    border-top: $border-s;
    border-bottom: $border-s;
  }
  &__content {
    h2 { color: $color-base-50; }
    h3 + p { @include margin(xs); }
  }
}

.buy {
  nav { display: flex; }
  &__tab {
    @include type-center;
    color: $color-base-38;
    cursor: pointer;
    border-color: transparent;
    border-bottom: $border-s $color-base-12;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $space-s;
    transition: color 0.375s ease-in;
    &:hover { color: $color-base-50; }
    &.is__active {
      background-color: $color-tint;
      color: $color-highlight;
      border-bottom: none;
      border-top: $border-s;
      border-left: $border-s;
      border-right: $border-s;
      border-color: $color-base-12;
      &:hover { color: $color-highlight-dark; }
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      @include inline;
      color: $color-highlight;
      &:hover { color: $color-highlight-dark; }
      svg { @include smooth; }
      &.is__action {
        font-weight: 600;
        svg {
          &:first-child { margin-right: rem(8); }
          &:last-child { margin-left: rem(8); }
        }
      }
    }
    * + & { margin-top: $space-m; }
  }
  &__content {
    background-color: $color-tint;
    border: $border-s $color-base-12;
    border-top-width: 0;
    padding: $space-m;
    box-shadow: 0 rem(16) rem(32) rem(-16) rgba($color-shade,0.25);
    .buy__footer + & { border-top-width: rem(1); }
    &.is__extra {
      background-color: $color-highlight-5;
    }
  }
  &__footer { @include padding(s); }
  &__price {
    @include type-l;
    font-weight: normal;
  }
  input[type="submit"] {
    display: block;
    border-radius: 0;
    width: 100%;
  }
}

.team__member {
  @include margin(m);
  @include padding(s);
  display: flex;
  background-color: $color-tint;
  border: $border-s $color-base-12;
  border-radius: $space-xs;
  box-shadow: 0 rem(16) rem(32) rem(-16) rgba($color-shade,0.25);
  @include bp(xs) { flex-wrap: wrap; }
  &--img {
    flex: 0 0 auto;
    margin: 0 auto;
    img {
      height: rem(120);
      width: rem(120);
      background-color: $color-base-5;
      border: $border-s $color-base-12;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  &--content {
    flex-grow: 1;
    @include bp(xs) { @include margin(s); }
    @include bp(s) { @include padding(m,l); }
    h3 + .team__member--title { margin-top: 0; }
    p { @include margin(xs); }
  }
}

.split {
  .wrapper {
    @include bp(s) {
      display: flex;
      align-items: center;
    }
  }
  &__img {
    @include bp(s) {
      flex-basis: $grid-1-2;
      order: 2;
    }
    img {
      @include bp(s) {
        box-shadow: 0 rem(16) rem(32) rem(-16) rgba($color-shade,0.5);
      }
    }
  }
  &__content {
    @include bp(xs) { @include margin(m); }
    @include bp(s) {
      @include padding(m);
      padding-left: 0;
      flex-basis: $grid-1-2;
    }
    text-shadow: 0 rem(2) rem(4) rgba($color-shade,0.25);
  }
}

.features {
  @include bp(s) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.feature__item {
  @include padding(m);
  @include bp(s) { width: $grid-1-2; }
  @include bp(m) { width: $grid-1-3; }
  &--img {
    padding: $space-m;
    background-color: $color-highlight-12;
    border-radius: 50%;
    display: inline-block;
    img { height: rem(88); }
  }
  * + * { @include margin(s); }
}

#packages { border-top: $border-s $color-base-12; }

.packages {
  @include margin(m);
  @include bp(s) {
    display: flex;
    justify-content: center;
  }
}

.package {
  background-color: $color-tint;
  border: $border-s $color-base-12;
  border-radius: $space-xs;
  box-shadow: 0 rem(16) rem(32) rem(-16) rgba($color-shade,0.25);
  margin: 0 $space-s;
  padding: $space-s $space-l;
  @include bp(xs) { @include margin(s); }
  > * { @include margin(xs); }
  small {
    @include margin(s);
    display: block;
  }
}

.partners {
  @include margin(s);
  @include bp(s) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  a {
    @include padding(s);
    @include bp(xs) { display: block; }
    &:hover { opacity: 0.75; }
  }
  img { height: rem(48); }
}

.has--info {
  svg { cursor: pointer; }
  .deets {
    @include padding(xs);
    display: none;
    background-color: $color-highlight-5;
    border: $border-s $color-base-12;
    box-shadow: 0 rem(4) rem(8) rem(-4) rgba($color-shade,0.25);
    position: absolute;
    right: 0;
    max-width: 100%;
    transform: translateY($space-xs);
  }
  &-shown .deets { display: block; }
}